#设备平台
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
#设备列表

#CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-07=y

CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_zn_m2=y
#WIFI驱动
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_PACKAGE_kmod-ath11k-ahb=n
CONFIG_PACKAGE_kmod-ath11k-pci=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074=n
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_hostapd-common=n

# WiFi主服务全套
CONFIG_PACKAGE_kmod-ath=n
CONFIG_PACKAGE_wpad=n
CONFIG_PACKAGE_wpad-basic=n
CONFIG_PACKAGE_wpad-mini=n
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_wpad-wolfssl=n
CONFIG_PACKAGE_hostapd=n
CONFIG_PACKAGE_hostapd-common=n
CONFIG_PACKAGE_wpa-supplicant=n

# 无线工具/查询
CONFIG_PACKAGE_iw=n
CONFIG_PACKAGE_iwinfo=n
CONFIG_PACKAGE_wireless-tools=n
CONFIG_PACKAGE_wifi-scripts=n
CONFIG_PACKAGE_wifi-noscan=n
CONFIG_PACKAGE_wifi-statuspage=n

# 无线驱动总开关
CONFIG_DRIVER_WIFI=n
CONFIG_WLAN=n
CONFIG_WIFI_SUPPORT=n
CONFIG_WLAN_HAL=n

#蓝牙全部关闭
CONFIG_PACKAGE_bluetooth=n
CONFIG_PACKAGE_bluez=n
CONFIG_PACKAGE_bluez-utils=n
CONFIG_PACKAGE_hcidump=n
CONFIG_BT=n
CONFIG_BT_HCIBTUSB=n

#射频 / 调频 / 移动通信类关闭
CONFIG_PACKAGE_rfkill=n
CONFIG_PACKAGE_crda=n
CONFIG_PACKAGE_regdb=n
CONFIG_PACKAGE_fmtools=n
CONFIG_PACKAGE_gcom=n
CONFIG_PACKAGE_comgt=n
CONFIG_PACKAGE_modemmanager=n
CONFIG_PACKAGE_lte-modem=n

#网页端无线相关插件关闭
CONFIG_PACKAGE_luci-app-wireless=n
CONFIG_PACKAGE_luci-i18n-wireless-zh-cn=n
CONFIG_PACKAGE_luci-app-hostapd=n


# 热点、中继、漫游相关
CONFIG_PACKAGE_wifidog=n
CONFIG_PACKAGE_wifidog-auth=n
CONFIG_PACKAGE_8021xd=n
CONFIG_PACKAGE_eapoltest=n

# 无线调试、抓包
CONFIG_PACKAGE_wireshark-wifi=n
CONFIG_PACKAGE_tcpdump-wifi=n