#CONFIG_TARGET_ath79=y
#CONFIG_TARGET_ath79_generic=y
#CONFIG_TARGET_ath79_generic_DEVICE_wndr3800=y

CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_DEVICE_wndr3800=y
 
CONFIG_DEFAULT_kmod-ath=n
CONFIG_DEFAULT_kmod-ath9k=n
CONFIG_DEFAULT_kmod-ath9k-common=n
CONFIG_DEFAULT_kmod-cfg80211=n
CONFIG_DEFAULT_kmod-mac80211=n

CONFIG_DEFAULT_wpad-openssl=n
CONFIG_DEFAULT_hostapd-common=n

CONFIG_DEFAULT_iw=n
CONFIG_DEFAULT_iwinfo=n
CONFIG_DEFAULT_libiwinfo=n
CONFIG_DEFAULT_libiwinfo-lua=n
CONFIG_DEFAULT_wpad-mini=n
CONFIG_DEFAULT_wireless-regdb=n

#-iw -iwinfo -kmod-ath -kmod-ath9k -kmod-ath9k-common -kmod-cfg80211 -kmod-mac80211 -libiwinfo -libiwinfo-lua -wpad-mini

