#CONFIG_TARGET_ath79=y
#CONFIG_TARGET_ath79_generic=y
#CONFIG_TARGET_ath79_generic_DEVICE_wndr3800=y

CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_DEVICE_wndr3800=y

#CONFIG_PACKAGE_luci-app-usb-printer=y

CONFIG_PACKAGE_luci-theme-argon=y

CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_iperf3=y
#CONFIG_PACKAGE_luci-app-ttyd=y #WNR3800用不了


# IPv6 支持
CONFIG_IPV6=y
CONFIG_KERNEL_IPV6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6to4=y
